<h1>Listing services</h1>

<div style="width:50px;float:left">
<% @ind_services.each do |s| %>
	<%= link_to s.number, s %><br>
<% end %>
</div>
<div style="width:250px;float:left">
<% @files.each do |file| %>
	<%= file %><br>
<% end %>
</div>
<div>
Total: <%= @ind_services.size %>
</div>